{{>fragments/header}}
<!-- =========== Main Container ============= -->
<div class="main-content-area">
    <div class="container">
        <div class="cover-wrap text-center">
            <div class="cover-inner m-auto">
                <h1 class="name">Category: Business</h1>
                <div class="post-count">Total Posts</div>
            </div>
        </div>
        {{#message}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/message}}

        {{#articles}}
            <div class="post-item clearfix post">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/articles/{{id}}">
                            <div class="featured-image-wrap">
                                <div class="featured-image" style="background-image:url('/img/amd-gained.jpg');"></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 content-wrap">
                        <div class="primary-tag">
                            <a href="#" rel="category tag">Business</a>
                        </div>
                        <h2 class="title"><a href="/articles/{{id}}">{{title}}</a></h2>
                        <time class="date" datetime="2025-09-27">September 27, 2025</time>
                        <div class="excerpt">
                            <p>{{content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/articles}}
        <div class="col text-center">
            <div class="pagination-wrap clearfix" role="navigation">
                <span class="page-number">Page 1 of 1</span>
            </div>
        </div>
        <div class="d-flex justify-content-end mb-3">
            <a href="/articles/new" class="btn btn-dark">새 글 작성</a>
        </div>
    </div>
</div><!-- =========== End Main Container ============= -->
{{>fragments/footer}}